
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
img {
	/*margin:4px;*/
	width: 	300px;
	height: 400px;
}

#sebas {
	transition: transform 2s;
	width: 	300px;
	height: 400px;
}

#sebas:hover {
	transform:   rotate(10deg) scale(1.55) translateX(40px);
}

#lore {
	transition: transform 1s;
}

#lore:hover {
	  transform: rotate(10deg) scale(1.55) translateX(40px);
}

#abuelo {
	transition: transform 1s;
}

#abuelo:hover {
	transform:   rotate(10deg) scale(1.55) translateX(40px);
}

#matt {
	transition: transform 1s;
}

#matt:hover {
	transform:   rotate(10deg) scale(1.55) translateX(40px);
	width: 	300px;
	height: 400px;
}

#marce {
	transition: transform 1s;
}

#marce:hover {
	transform:  rotate(10deg) scale(1.55) translateX(40px);
}

#jcv {
	transition: transform 1s;
	width: 300px;
	height: 400px;
}

#jcv:hover {
	transform:   rotate(-10deg) scale(1.05) translateX(30px);
}

#papa {
	transition: transform 1s;
    width: 300px;
	height: 400px;
}

#papa:hover {
	transform:   rotate(-10deg) scale(1.05) translateX(30px);
}

#max {
	transition: transform 1s;
	width: 300px;
	height: 400px;
}

#max:hover {
	transform:   rotate(10deg) scale(1.75) translateX(50px);
}

#john {
	transition: transform 1s;
	width: 300px;
	height: 400px;
}

#john:hover {
	transform: rotate(10deg) scale(1.75) translateX(50px);
}

#miami {
	transition: transform 1s;
	width: 300px;
	height: 400px;
	align-items: center;
}

#miami:hover {
	transform: rotate(10deg) scale(1.75) translateX(50px);
}

footer {
	background: #9aa8b380;
	text-align: center;
}


.back-to-top__anchor {
    background-color: transparent;
    color: black;
    display: block;
    font-size: 1.14rem;
    line-height: 1.1;
    margin: 2rem 0;
    max-width: 160px;
    padding: 1.25rem 1rem .5rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 250ms ease-in-out;
    margin: 0 auto;
}


.back-to-top__anchor:before {
    position: relative;
    left: -0.5em;
    top: -0.125em;
    display: inline-block;
}

.back-to-top__anchor:before {
    color: black;
    border-bottom: 6px solid black;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: '';
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: .5rem;
    width: 0px;
    transition: all 250ms ease-in-out;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.back-to-top__anchor:hover {
    background-color:  transparent;
    color: black;
    text-decoration: none;
    }

a {
    font-weight: bold;
    transition: color 250ms ease-in-out;
}
